h2, p{margin-left: 20%;margin-right: 20%;}

h2{
	animation-name: emerge;
 	animation-duration: 2s;
 	animation-fill-mode: both;
 	opacity: 0;
 	font-size: 3vw;
}

p{
	font-size: 2vw;
	font-weight: bold;
    color: black;
  	animation-name: emerge;
 	animation-duration: 4s;
 	animation-fill-mode: both;
 	opacity: 0;
}

@keyframes emerge {
  50%  {opacity: 0;}
  100% {opacity: 100;}
}